body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Light pinkish color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffc1da; /* Light greenish color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0d1445; /* Dark blue color */
    margin-bottom: 20px;
}

.todo-input {
    margin-bottom: 20px;
}

.todo-input input {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #BFBFDB; /* Light purple color */
    border-radius: 4px;
    margin-right: 10px;
}

.todo-input button {
    background-color: #ad525e; /* Dark pinkish color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.todo-input button:hover {
    background-color: #922d3b; /* Slightly darker pinkish color for hover */
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#task-list li {
    background-color: #BFBFDB; /* Light purple color */
    color: #0d1445; /* Dark blue color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-list li button {
    background-color: #ad525e; /* Dark pinkish color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#task-list li button:hover {
    background-color: #922d3b; /* Slightly darker pinkish color for hover */
}
.logo {
    height: 80px;
    width: 80px;
    
}